@mixin center {
    display: flex;
    align-items: center;
    @content;
}

@mixin navMouse {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    border: 1px solid black;

    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-image: url("../img/Lasse.jpg");
    background-size: cover;
    z-index: 10;
}